@import '_mixins';
@import '_reset';
@import '_fonts';

BODY {
    padding: 4em 2em;
    background: #EEE;
    font: #{$base-size}/#{$base-lh} "Trebouchet MS", sans-serif;
    }

IMG {
    border: 1px solid #DDD;
    }

FIGCAPTION + IMG,
IMG + FIGCAPTION {
    margin-top: 1em;
    }

.l-wrapper {
    min-width: 500px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    box-sizing: border-box;
    border: 1px solid #DDD;
    box-shadow: 0 0 1em -.3em rgba(0,0,0,.3);
    background-color: #FFF;
    }
.l-header {
    margin-bottom: 2em;
    }

.list{
    &--ol {
        counter-reset: num-list;
        }
    &--ol &__item {
        position: relative;
        margin-bottom: 1.5em;
        padding: 1.05em 0 0 3em;
        &:before {
            position: absolute;
            counter-increment: num-list;
            content: counter(num-list) ".";
            top: 0;
            left: 0;
            font-size: 2em;
            font-family: $font-headers;
            }
        IMG {
            vertical-align: top;
            }
    }
}

.list__term {
    font-weight: bold;
    }
.list__desc {
    margin: .5em 0 1.5em 1em;
    }



